{% load i18n media %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
	   {% block extracss %}{% endblock %}
       {% block extrajs %}{% endblock %}
	<meta name="robots" content="{% block robots %}index,follow{% endblock %}" />
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
