{% extends "admin/base_site.html" %}
{% load i18n admin_modify grp_csrf config_tags %}
{% block userlinks %}
{% url django-admindocs-docroot as docsroot %}{% if docsroot %}
<li>
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
</li>
{% endif %}
<li>
    <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a>
</li>
<li>
    <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
</li>
{% endblock %}
{% block title %}{% trans 'Site settings' %}{% endblock %}
{% block content %}
{% comment %}
<div class="fieldcontainer">
<ul class="fieldref">
{% for group in form.groups %}
    <li><a onclick="javascript:CollapsedFieldsets.show({{ forloop.counter0 }});" href="#{{ group.key }}">{{ group.name }}</a></li>
{% endfor %}
</ul>
</div>
{% endcomment %}
<div id="content-main">
{% if not use_db %}
	<p>{% trans "Livesettings are disabled for this site." %}</p>
	<p>{% trans "All configuration options must be edited in the site settings.py file" %}</p>
	</div>
	{% admin_site_views 'satchmo_site_settings' %}
{% else %}
	{% if form.errors %}
	    <p class="errornote">
	    {% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	    </p>
	{% endif %}
	{% if form.fields %}
	<form method="post">
	    {% for field in form %}
	        {% if field.is_hidden %}
	            {{ field }}
	        {% else %}
	            {% ifchanged field.field.group %}{% with field.field.group as group %}
	            {% if not forloop.first %}
	            </table>
	            </fieldset>
	            {% endif %}
	            <fieldset class="module collapse">
	            <h2 id="{{ group.key }}">{{ group.name }}</h2>
	                <table summary="{% blocktrans with group.name as name %}Group settings: {{ name }}{% endblocktrans %}" style="width: 100%">
	            {% endwith %}{% endifchanged %}

	            	    {% if field.errors %}
	            		<tr class="error">
	            			<td colspan="2">{{ field.errors }}</td>
	        		    </tr>
	    		        {% endif %}
	        			<tr{% if field.errors %} class="error"{% endif %}>
	    				    <td style="width: 50%;">
	        					{{ field.label_tag }}
	        					{% if field.help_text %}
	        						<p class="help">{{ field.help_text|break_at:40|safe }}</p>
	        					{% endif %}
	        					{% if field.field.default_text %}
	        					    <p class="help">{{ field.field.default_text|break_at:40}}</p>
	        					{% endif %}
	        				</td>
	        				<td>{{ field }}</td>
	        			</tr>
	    	{% endif %}
	    {% endfor %}
	    	</table>
		</div>
	{% admin_site_views 'satchmo_site_settings' %}
	<br class="clear:both;" />
	<input type="submit" value="Save" class="default" />
	<p><a onclick="javascript:CollapsedFieldsets.uncollapse_all(); return false;" href="#">{% trans 'Uncollapse all' %}</a></p>
	<p><a href="{% url settings_export %}">Export</a></p>
	</form>
	{% else %}
	    <p>{% trans "You don't have permission to edit values." %}</p>
	{% endif %}
{% endif %}
</div>

{% endblock %}
